iframe{
    height: 50%;
    border:none;
    overflow:hidden;
    padding: 5px;
}

img.body {
	width: 100%;
	padding: 0;
	margin: 0;
	display: block;
}

div.kukeldis {
	min-height: 750px;
	padding: 0;
	box-sizing: content-box;
	display: block;
}

a.kukeldis {
	font-family: DejaVu Sans Mono, monospace;
	font-size: 10vw;
	text-decoration: none;
	text-align: center;
	color: white;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	display: block;
}

a.kukeldis:hover {
	color: #F7EB08;
}

div.kukk {
	min-height: 750px;
	padding: 0;
	box-sizing: content-box;
	display: block;
}

a.kukk {
	margin-top: 700px;
	font-family: Jazz LET;
	font-size: 15vw;
	text-decoration: none;
	text-shadow: 3px 3px #E1D8D6;
	text-align: center;
	color: black;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	display: block;
}

a.kukk:hover {
	color: #F7EB08;
}

div.ohutus {
	background-color: #1F4CE0;
	padding: 0;
	margin: 0;
	min-height: 750px;
	display: block;
}

div.ohutus a {
	font-size: 50px;
	text-decoration: none;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	margin-top: 1500px;
	z-index: 1;
	display: block;
}

div.ohutus a:hover {
	color: #B5B6B7;
}

section {
	min-height: 450px;
	background-image: url(https://static.vecteezy.com/system/resources/previews/001/255/597/non_2x/blue-white-low-poly-triangle-shapes-background-vector.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

div.social.f {
	float: right;
}

div.social.f p {
	margin-top: 50%;
	margin-right: 20%;
	font-size: 20px;
}

div.social a img {
	max-height: 120px;
}

div.social a img:hover {
	opacity: 0.8;
}

#map {
	float: right;
	height: 400px;
	width: 400px;
	border-style: solid;
	border-width: 5px;
	margin-top: 20px;
	margin-right: 15%;
}

div.social.i {
	float: right;
}

div.social.i p {
	margin-top: 50%;
	margin-right: 20%;
	font-size: 20px;
}

.kontakt:after {
	content: "";
	display: table;
	clear: both;
}