.rida {
  display: flex;
}

.veerg,
.veerg2 {
  flex: 50%;
  position: relative;
}

.veerg2{
  text-align: center;
}
.veerg2 img {
  display: block;
  margin: 0 auto;
  width: 75%;
  padding-bottom: 5px;
  padding-top: 5px;
}

.oluline-tekst, h3{
  background-color: #F7EB08;
  padding: 2px;
  text-align: center;
}

.oluline{
  font-weight: bolder;
}
