@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.rida, #esimene {
  display: flex;
}

.veerg,
.veerg2 {
  font-family: 'Arvo', serif;
  flex: 50%;
  position: relative;
}

.veerg2{
  font-family: 'Arvo', serif;
  text-align: center;
}
.veerg2 img {
  display: block;
  margin: 0 auto;
  width: 75%;
  padding-bottom: 5px;
  padding-top: 5px;
}

.oluline-tekst, h1{
  font-family: 'Arvo', serif;
  background-color: #EDC410;
  padding: 2px;
  text-align: center;
}

.oluline{
  font-family: 'Arvo', serif;
  font-weight: bolder;
}

#esimene{
  padding-top: 60px;
}

p{
  font-size: 1.9vw;
}
.bold{
  font-weight: bold;
}


