.rida, #esimene {
  display: flex;
}

.veerg,
.veerg2 {
  flex: 50%;
  position: relative;
}

.veerg2{
  text-align: center;
}
.veerg2 img {
  display: block;
  margin: 0 auto;
  width: 75%;
  padding-bottom: 5px;
  padding-top: 5px;
}

.oluline-tekst, h1{
  background-color: #F7EB08;
  padding: 2px;
  text-align: center;
}

#esimene{
  padding-top: 60px;
}

p{
  font-size: 1.9vw;
}
.bold{
  font-weight: bold;
}


