@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html, body {
	margin: 0;
	padding: 0;
}

ul {
	font-family: 'Arvo', serif;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #650A0A;
	position: fixed;
	width: 100%;
	z-index: 2;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 23px 23px;
}

li img {
	height: 60px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 0px;
}

li a:hover {
	color: #EDC410;
}

.active {
  color: #EDC410;
}

footer {
	text-align: center;
	font-family: 'Arvo', serif;
	background-color: #650A0A;
	height: 50px;
	padding: 10px;
}

footer p {
	color: white;
}

.footer {
	text-align: center;
	font-family: 'Arvo', serif;
	background-color: #650A0A;
	height: 50px;
	padding: 10px;
}

.footer p {
	color: white;
}