html, body {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #070707;
	position: fixed;
	width: 100%;
	z-index: 2;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 23px 23px;
}

li img {
	height: 60px;
	padding-left: 20px;
	padding-right: 20px;
}

li a:hover {
	color: #F7EB08;
}

.active {
  color: #F7EB08;
}

footer {
	text-align: center;
	background-color: #070707;
	height: 50px;
	padding: 10px;
}

footer p {
	color: white;
}