@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.nimed {
    padding: 100px 100px 0px 100px;
    font-family: 'Arvo', serif;
    color: black;
    text-align: center;
    font-weight: bold;

    /*margin-bottom: -100px;*/
    

}   

h1 {
    color: black;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: black;
    text-align: center;
    font-weight: bold;
}

.pilt{
    width: 180px;
	height: 180px;
	border-radius: 100%;
}

.vasak {
    float:left; 
    width:33%;
    
}
.keskmine{
    float:left; 
    width:33%;
   
}
.parem{
    float:right;
    width:33%;
}

.vasak_viimane {
    float:left; 
    width:50%;
}

.parem_viimane{
    float:right;
    width:50%;
}
.footer {
	text-align: center;
	font-family: 'Arvo', serif;
	background-color: #650A0A;
	height: 50px;
	padding: 10px;
}

.footer p {
	color: white;
}