nav{
	background-color: #333;
	display: flex;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	float: right;
}

li {
	float: left;
}

.logo{
	
	width: 100px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

h1 {
	padding-top: 250px;
	background-color: rgb(139, 139, 113);
	height: 250px;
	text-align: center;
}

.active {
  background-color: #04AA6D;
}

footer {
	text-align: center;
	background-color: #333;
	height: 50px;
	padding: 10px;
}

footer p {
	color: white;
}